@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)
	/**/
	.product-text
		margin: 20px 0
	.product__items
		margin-bottom: 20px
	.shop__item-footer-row--product
		margin-bottom: 20px
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.shop__list
		margin-left: -15px
		margin-right: -15px
	.shop__item-wrapper
		padding: 0 15px
	.product .h1
		font-size: 38px
	.visit-content__img
		max-width: 55%
		img 
			max-width: 100%

	.home-main
		.menu__link,
		.menu__btn
			margin-left: 30px
	.expiriences.expiriences--white
		.expiriences__content
			padding-left: 15px
	.expiriences__content
		width: 100%
	.expiriences__images-wrapper
		margin-bottom: 20px
	.event-page__section
		.expiriences__images-wrapper
			max-width: 50% 
			img 
				max-width: 48% 
				margin-left: 1%


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.menu__link 
		margin-left: 20px
	.request-texting__wrapper
		justify-content: flex-start
		margin-top: 40px
	.footer
		position: relative
		padding-bottom: 130px
		.container-fluid
			display: flex
			flex-wrap: wrap
	.footer-col--first 
		width: 100%
		margin-bottom: 40px
		display: flex 
		justify-content: center
		flex-direction: row
	.footer__bottom
		position: absolute
		bottom: 30px
		text-align: center
	.shop__list
		margin-left: -15px
		margin-right: -15px
	.shop__item-wrapper
		padding: 0 15px
		width: 50%
	.product-img
		margin-bottom: 30px
	.visit-main-screen
		min-height: 70vw
		padding-bottom: 5vw
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30.92%, #2B2726 100%), url('../img/visit-bg.png')
		background-size: cover 
		background-position: center 
		background-repeat: no-repeat
	.visit-content__row
		flex-direction: column
		.visit-content__img
			width: 100%
			max-width: 100%
			order: 1
		.visit-content__wrapper
			order: 2
		img 
			width: 100%
	.about-item__row
		flex-direction: column
	.about-iten__img
		width: 100% 
		max-width: 100% 
		order: 1
	.about-item__col
		width: 100% 
		max-width: 100% 
		order: 2
	.home-main
		.menu__link,
		.menu__btn
			margin-left: 15px
	.home-main
		min-height: auto
	.home-main__content
		padding-top: 75px
	.home-item
		flex-direction: column
	.home-item__content
		max-width: 100% 
		width: 100%
		order: 2
	.home-item__image
		max-width: 100% 
		width: 100%
		order: 1
		margin-bottom: 30px
	.home-items
		padding: 15vw 0
	.follow-us__row
		flex-direction: column
	.follow-us__col
		width: 100% 
		max-width: 100%
		margin-bottom: 30px
	.expiriences__row
		flex-direction: column
	.about-wine-club
		.container-fluid
			flex-direction: column
			.img 
				width: 100%
				margin-bottom: 30px
		.about-wine-club__content
			padding-left: 0 
			width: 100%
			max-width: 100%
	.expiriences
		padding: 30px 0
	.expiriences__images-wrapper
		order: 1
	.expiriences__content
		order: 2
	.expiriences__images-wrapper img
		margin-left: 0
		margin: 0 1vw
		width: 49%
	.expiriences__slider
		order: 2
		margin-top: 30px
	.event-page__section
		.expiriences__images-wrapper
			max-width: 100% 
			width: 100%
			img 
				max-width: 48% 
				margin: 0 1%
		.expiriences__images-wrapper img:first-child
			margin-top: 60px
	.expiriences__slider
		width: 100% 
		max-width: 100%












/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.menu__btn 
		display: block
	.menu
		display: none
	.header 
		position: relative
		padding: 11px 0

	.menu.active 
		background: $white
		display: flex
		flex-direction: column 
		justify-content: space-between 
		min-height: calc(100vh - 90px)
		position: absolute 
		top: 115px
		width: 100%
		left: 0
		padding-top: 11.1vw
		padding-bottom: 7.246vw
		z-index: 9999

		ul 
			display: block
			li 
				text-align: center
	.menu__link 
		margin-left: 0
		font-size: 21px 
		font-weight: 700
		margin-bottom: 6.039vw
	.menu__mobile-footer
		display: flex
		width: 100%
		padding-bottom: 10vw
		.container-fluid
			justify-content: space-between
			align-items: center
			display: flex
	.menu__mobile-social
		display: flex 
		align-items: center
	.menu__mobile-social-link
		display: flex
		margin-left: 20px
	.login-mobile,
	.login-mobile:hover
		color: $text-color
	.footer-col:nth-child(2)
		width: 100%
		display: flex
	.footer_adress
		width: 50%
	.footer-col
		margin-bottom: 40px
	.footer-col:nth-child(3),
	.footer-col:nth-child(4),
	.footer-col:nth-child(5)
		width: 50%
	.footer-col:nth-child(5)
		transform: translateX(100%)
		margin-top: -59%
	.menu__item:hover 
		.sub-menu 
			display: none
	.menu.active
		top: 95px
	.menu__item .sub-menu.active
		//display: block
	.shop__item-wrapper
		width: 100%
		margin-top: 80px
	.shop__item
		min-height: auto
	.shop__item-header-text
		min-height: auto
	.visit-content
		padding-top: 50px
	.visit-content .h2
		margin-bottom: 30px
	.visit-content__row
		margin-bottom: 70px
	.prev, 
	.next 
		display: none !important
	.slider__content
		max-width: 100%
	.slick-dots
		button
			margin: 0 7.5px
	.about
		padding: 50px 0
	.about-item
		padding-bottom: 30px
	.blog-img
		margin-bottom: 30px
	.blog 
		p 
			font-size: 18px
	.news-item
		width: 100%
		max-width: 100%
	.news
		padding-top: 50px
	.news-item
		margin-bottom: 50px
	.home-main
		.menu__link,
		.menu__btn
			margin-left: 0px
		.menu__btn 
			display: block
		.menu__link
			color: $text-color
		.menu.active
			ul 
				display: block
	.home-item
		margin-bottom: 20vw
	.discover__item
		margin-bottom: 30px
	.follow-us
		padding-top: 30px 
		padding-bottom: 0px
	.follow-us__title
		margin-bottom: 35px
	.follow-us__img
		margin-bottom: 35px
	.follow-us__col
		p 
			margin-bottom: 35px
	.follow-us__social-item
		font-size: 21px
	.follow-us__col:last-child 
		border-top: 1px solid rgba(196, 196, 196, 0.4)
		padding-top: 30px
	.latest-news__item-title
		font-size: 18px
	.latest-news__item p
		font-size: 16px
	.expirences__title
		font-size: 10vw
		margin-top: 1vw
	.expirences__title
		margin-top: 5vw
	.about-wine-club__content
		font-size: 18px
	.about-wine-club__title
		font-size: 24px
	.about-wine-club .container-fluid .img
		margin-bottom: 15px
	.about-wine-club__title
		margin-bottom: 15px
	.expiriences p
		font-size: 18px
	.reviews
		padding-top: 40px 
		padding-bottom: 40px
	.plan__item
		width: 100% 
		margin-bottom: 30px
	.plans--grey
		padding: 30px 0
	.buttons-wrapper--events
		flex-direction: column
		margin-top: 20px
		.button 
			width: 100%
			font-size: 13px
		.button:first-child
			width: 100%
			margin-bottom: 15px
		.button:nth-child(2)
			width: 100%







		





/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.container-fluid 
		max-width: 83.092vw
	.top-header__link:nth-child(2)
		display: none
	.top-header__link
		margin-left: 20px
	.top-header 
		font-size: 12px
		padding: 11.5px 0
	.logo 
		img 
			width: 72.7px
	.menu.active 
		top: 48px
	.h1 
		font-size: 11.594vw
	.main-screen--contact 
		padding-top: 20vw 
		padding-bottom: 5vw
	.contact-form__row
		flex-direction: column
		.input-wrapper
			width: 100%
	.contact
		padding: 15vw 0
	.newsletter-input
		font-size: 5.797vw
	.footer 
		padding-bottom: 100px
	.main-screen__text
		font-size: 18px
	.explore__title
		font-size: 36px
		font-size: 7vw
	.explore .container-fluid
		padding: 15px 15px
	.explore-button img
		margin-left: 2vw
		max-width: 7vw
	.explore-button
		font-size: 4vw
	.explore__title
		margin-bottom: 5vw
	.explore
		padding-bottom: 90px
	.product .h1
		font-size: 10vw
	.back
		margin-bottom: 30px
	.product-img
		margin-bottom: 10px
	.visit-main-screen
		.h1 
			font-size: 10vw
			margin-bottom: 1vw
		.visit__text
			font-size: 4.2vw
			line-height: 1.2
	.slider__content
		p 
			font-size: 21px
	.slider-content__footer
		font-size: 14px
	.slider__content
		margin: 29px 0
	.slider-wrapper
		margin-top: 20px
	.blog-title
		font-size: 7.5vw
		margin-bottom: 20px
	.blog-main-screen
		padding: 40px 0
	.news-title
		font-size: 22px
	.reviews--grey 
		padding-top: 80px
	.home-main 
		.menu.active
			top: 58px
	.home__title
		font-size: 11.594vw
	.home-main__content-wrapper p
		font-size: 18px
	.home__title
		margin-bottom: 1vw
	.home-main__buttons
		flex-direction: column
		margin-top: 2.778vw
		.button 
			width: 100%
			margin-bottom: 5vw
	.home-main__content
		padding-bottom: 8vw
	.button 
		font-size: 3.382vw
	.home-main__buttons
		.button 
			width: 49.517vw
			height: 10.145vw
			margin-bottom: 2.415vw
	.home-items
		.h1 
			font-size: 5.797vw
	.home-item__content
		font-size: 18px
	.home-item .h1
		margin-bottom: 15px
	.home-item__image
		margin-bottom: 15px
	.home-item__list
		margin-top: 15px
	.home-item .button
		margin-top: 30px
	.discover
		padding-top: 30px 
		padding-bottom: 30px
		.h1
			font-size: 10vw
			margin-bottom: 40px
	.reviews--grey
		padding-top: 40px 
		padding-bottom: 40px
	.latest-news__item .read-more
		font-size: 12px
	.follow-us__col p
		margin-bottom: 15px
	.plans__title
		font-size: 8vw
		margin-bottom: 8vw
	.section__sub-text
		margin-bottom: 10vw
	.close-modal
		img 
			width: 7vw
	.modal-content
		padding: 5vw 5vw
		padding-top: 18vw
	.close-modal
		top: 5vw 
		right: 5vw



	









/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





