@import "vars"
@import "fonts"

//start global style
body 
	font-family: $main-font
	font-size: 16px
	color: $text-color
	font-weight: 300
	background: $white
.container-fluid 
	width: 1320px 
	max-width: 95vw 
	padding-left: 0 
	padding-right: 0
a,
a:hover 
	text-decoration: none
ul 
	list-style: none
	padding: 0
	margin: 0
.h1 
	font-size: 48px 
	color: $white 
	font-weight: 600
	text-transform: uppercase
.h2 
	font-size: 28px 
	font-weight: 600
.label 
	font-size: 12px 
	font-family: $primary-font 
	font-weight: 400 
	text-transform: uppercase
	color: #000
	letter-spacing: 0.1em
	margin-bottom: 5px
.input,
.textarea 
	width: 100%
	background: #F9F9F9
	border: 1px solid rgba(196, 196, 196, 0.5)
	height: 42px
	outline: none
	padding: 0 15px
	font-size: 14px
	font-family: $primary-font

.textarea 
	height: 200px
	padding: 10px 15px
p 
	margin-bottom: 0
.white 
	color: $white
.button 
	background: $main-color 
	display: flex 
	justify-content: center 
	align-items: center
	color: $white 
	font-size: 17px
	font-weight: 500 
	font-family: $primary-font
	text-transform: uppercase
.button:hover 
	color: $white
.button--transparent
	background: transparent
	border: 1px solid $main-color 
	background: $white 
	color: $main-color
.button--transparent:hover 
	color: $main-color	
.button--transparent--no-border
	border: none
//end global style

//start top header style
.top-header 
	background: $main-color
	padding: 22px 0
	color: $white
	font-size: 14px
	.container-fluid 
		display: flex 
		justify-content: space-between
.top-header__phone
	color: $white
	display: flex 
	align-items: center
	img 
		display: block 
		margin-right: 10px
.top-header__phone:hover 
	color: $white
.top-header__links
	display: flex 
	align-items: center
.top-header__links
	color: $white
.top-header__link
	color: $white
	display: block 
	margin-left: 50px
.top-header__link:hover 
	color: #fff
//end top header style

//start header style
.header 
	padding: 20px 0
	.container-fluid 
		display: flex 
		justify-content: space-between
		align-items: center
.menu__link 
	text-transform: uppercase 
	color: $text-color
	display: block
	margin-left: 50px
.menu__link:hover 
	color: $text-color
.menu 
	display: flex 
	align-items: center
	ul 
		display: flex
		align-items: center
.menu__mobile-footer
	display: none
.menu__item 
	position: relative
.sub-menu 
	position: absolute 
	top: 100%
	left: 50px
	z-index: 999
	background: $white
	border: 0.5px solid rgba(113, 32, 29, 0.2)
	min-width: 200px 
	transform: translateY(17px)
	padding: 15px
	display: none
.menu__item:hover 
	.sub-menu 
		display: block

.sub-menu__link
	font-size: 14px
	text-transform: uppercase 
	color: $text-color
	margin-bottom: 30px
	display: block
.sub-menu__link:last-child 
	margin-bottom: 0
.sub-menu__link:hover
	color: $text-color
.sub-menu:before 
	content: url('../img/triangle.svg')
	position: absolute 
	top: 0 
	left: 18px 
	transform: translateY(-21px)
//end header style

//start main screen
.main-screen--contact 
	padding-top: 170px 
	padding-bottom: 70px
	background: linear-gradient(rgba(#71201D, 0.8), rgba(#71201D, 0.8)), url('../img/header-bg.jpeg')
	background-size: cover
	background-position: center
.main-screen__text
	width: 613px 
	max-width: 100%
	font-size: 21px
	margin-top: 20px
	line-height: 1.2
.main-screen--shop
	background: linear-gradient(rgba(#71201D, 0.8), rgba(#71201D, 0.8)), url('../img/header-bg.jpeg')
	background-size: cover
	background-position: center
	padding-top: 170px 
	padding-bottom: 70px
//end main screen

//start contact section style
.contact 
	padding: 100px 0
.contact-form
	margin-top: 40px
	max-width: 100%
.contact-form__row
	display: flex 
	justify-content: space-between
	.input-wrapper 
		width: 48%
		
.input-wrapper
	display: flex 
	flex-direction: column
.input-wrapper
	margin-bottom: 30px
.input--submit
	background: $main-color
	border: none 
	text-transform: uppercase
	color: #fff
	letter-spacing: 0.08em
.request-texting__wrapper
	width: 100%
	display: flex 
	justify-content: center
	max-width: 100%
	.h2 
		margin-bottom: 10px
.request-texting__content
	width: 314px 
.request-texting__item
	margin-bottom: 30px
.contact-item
	display: flex
	align-items: center
	color: $text-color
	margin-bottom: 10px
	img 
		margin-right: 10px
.contact-item:hover
	color: $text-color
.request-texting__item--two
	display: flex 
	justify-content: space-between
	width: 100%
.newsletter
	min-height: 450px
//end contact section style

//start newsletter section
.newsletter
	background: linear-gradient(0deg, rgba(43, 39, 38, 0.7), rgba(43, 39, 38, 0.7)), url('../img/newsletter-bg.jpeg')
	background-repeat: no-repeat 
	background-size: cover
	background-position: center
	color: $white
	.container-fluid 
		display: flex 
		justify-content: flex-end
		align-items: center
		min-height: 450px
.newsletter__content
	width: 543px 
	max-width: 100%
.newsleter__text
	font-size: 18px 
	margin-top: 8px 
	margin-bottom: 50px	
.newsletter__form
	width: 100%
	display: flex
	position: relative
.newsletter-input
	width: 100%
	background: transparent
	height: 60px
	border: none
	outline: none
	border-bottom: 1px solid $white
	padding-left: 10px
	padding-right: 60px
	color: $white
	font-size: 24px
.newsletter-input::placeholder
	color: $white
.newsletter-input-submit
	width: 55px 
	height: 100% 
	padding-right: 15px
	cursor: pointer
	border: none 
	position: absolute
	background-color: transparent
	background-image: url('../img/arrow.svg')
	background-repeat: no-repeat 
	background-position: center
	right: 0 
	top: 50% 
	transform: translateY(-50%)
//end newsletter section

//start footer-style
.footer 
	background: $main-color
	padding-top: 60px 
	padding-bottom: 56px
	color: $white
	p 
		margin-bottom: 30px 
	p:last-child 
		margin-bottom: 0
	.container-fluid
		display: flex 
		justify-content: space-between
.footer-col--first
	display: flex 
	flex-direction: column 
	justify-content: space-between
.footer__icon
	margin-left: 20px
.footer-col__title
	text-transform: uppercase
	font-family: $primary-font
	font-weight: 600 
	font-size: 12px
	margin-bottom: 12px
.footer-link
	display: flex
	color: $white
	margin-bottom: 5px
.footer-link:hover 
	color: $white
.footer__copy 
	margin-top: 10px
//end footer style

//start shop section style
.shop 
	padding-bottom: 90px
	overflow: hidden
	.col-md-4
		pa
.shop-item__img
	width: 100%
.shop__list
	display: flex
	flex-wrap: wrap
	margin-left: -60px
	margin-right: -60px
.shop__item-wrapper
	width: 33.333%
	padding: 0 60px
	margin-top: 100px
.shop__item
	text-align: center
	color: $text-color
	min-height: 640px
	display: block
	display: flex 
	flex-direction: column 
	justify-content: space-between
.shop__item:hover 
	color: $text-color
.shop-item__year
	font-size: 12px 
	font-family: $primary-font
	font-weight: 400
	margin-top: 25px 
	margin-bottom: 5px
	display: block
.shop-item__title
	font-size: 32px 
	font-weight: 700
.shop__item-price
	font-size: 48px 
	font-weight: 700
	margin-bottom: 30px
	display: block
.shop__item-footer-row
	display: flex
	align-items: center
	margin-top: 10px
	height: 52px
	width: 237px
	justify-content: space-between
.input-num
	width: 58px 
	height: 100%
	text-align: center
	background: rgba(158, 159, 154, 0.1)
	border: 1px solid rgba(43, 39, 38, 0.1)
	display: flex 
	margin-right: 10px
	font-size: 17px 
	font-weight: 500 
	font-family: $primary-font
	padding-left: 17px
.shop__item-header,
.shop__item-header:hover
	color: $text-color 

.shop__item-footer-row
	width: 237px 
	max-width: 100% 
	margin: 0 auto
	margin-top: 10px
	.button 
		height: 100%
		width: 173px
	.button--transparent
		width: 100%
.sold-out
	font-size: 17px 
	font-weight: 500 
	font-family: $primary-font 
	color: $main-color 
	text-transform: uppercase
	margin-bottom: 40px
.shop-item__sub-title
	font-size: 14px 
	font-family: $primary-font 
	font-weight: 400
	text-transform: uppercase
	margin-top: 5px
	display: block
.shop__item-price,
.sold-out
	margin-bottom: 0
	height: 100px 
	display: flex
	align-items: center
	justify-content: center
.shop__item-header-text
	min-height: 150px
	display: block
//end shop section style

//start explore section
.explore 
	padding-bottom: 100px
	.container-fluid 
		background: linear-gradient(0deg, rgba(43, 39, 38, 0.9), rgba(43, 39, 38, 0.9)), url('../img/explore.png')
		background-size: cover 
		background-position: center 
		background-repeat: no-repeat
		padding: 65px 44px
.explore__content
	width: 100%
	height: 100%
	border: 1px solid $white
	padding: 30px 10px
.explore__wrapper
	width: 722px 
	max-width: 100%
	color: $white
	margin: 0 auto
	text-align: center
	display: flex 
	flex-direction: column
	align-items: center
.explore__title
	font-size: 48px
	line-height: 1.2
	margin-bottom: 37px
.explore-button
	width: 348px 
	max-width: 100% 
	display: flex 
	align-items: center
	justify-content: center
	font-size: 17px 
	font-weight: 500
	font-family: $primary-font 
	text-transform: uppercase 
	height: 48px 
	border: 1px solid $white
	color: $white
	img 
		margin-left: 15px
.explore-button:hover 
	color: $white

//end explore section

@import "media"



